.banner-heading {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 10px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    gap: 10px;
    border: none;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);
    padding: 240px;
}

.banner-img {
    width: 635px;
    height: 800px;
    border-radius: 158px;
    border: 1px solid #000;

}

/* about section */

.about {
    text-align: center;
    padding-top: 100px;

}

.about-header {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.about-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.box {
    margin-top: 100px;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    width: 464px;
    height: 538px;
    display: flex;
    padding: 0px 240px;
}

.box-1 {
    width: 310px;
    height: 428px;
    padding: 110px 76px 0px 78px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.box-2 {
    width: 310px;
    height: 428px;
    padding: 117px 47px 51px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.box-3 {
    width: 314px;
    height: 471px;
    padding: 67px 75px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}