* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* header style start */
.header {
    width: 1920px;

}

.header-container {
    display: flex;
    background: rgba(240, 44, 86, 0.1);
    justify-content: space-around;
    padding: 30px 240px 0;
    gap: 60px;
    align-items: center;
}


.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 750px;
    margin-bottom: 30px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    margin-bottom: 30px;
}

.btn {
    background-color: #E55473;
    border-radius: 8px;
    border: 0;
    padding: 20px 43px;
    color: white;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 140px;
}

/* header style end */


/* our featured flower style start */
.our-featured-flower {
    max-width: 500px;
    text-align: center;
    margin: 150px auto 0;
}


.our-featured-flower-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}


.our-featured-flower-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}

/* our featured flower style end */


/* flower section start */
.flower-container {
    display: flex;
    justify-content: center;
    margin: 48px 240px;
    gap: 30px;
}

.img-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0;
}

.img-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px;
}

.img-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0;
}

.flower-title {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 20px;
    text-decoration-line: underline;
}

/* flower section end */


/* icon section start */
.icon-container {
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 128px auto;
    text-align: center;
    padding: 87px 175px;
    gap: 200px;
}

/* icon section end */




/* sale section style start */
.sale-container {
    display: flex;
    margin: 100px 395px;
    justify-content: space-around;
    align-items: center;
    gap: 180px;
}

.sale-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 230px;
}

.sale-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 600px;
    margin-bottom: 24px
}

.sale-text {
    text-align: center;
}

.off {
    color: #E55473;
}

/* sale section style end */



/* instagram section start */
.instagram-container {
    max-width: 500px;
    text-align: center;
    margin: 100px auto 0;
}

.instagram-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.instagram-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}

/* instagram section end */